.article_page {
	margin-top: 20px;
	text-align: center;
}

.article {
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;

	.list {
		height: 300px;
	}

	&__card {
		border: 1px solid black;
		margin: 20px;
		padding: 20px;
		width: 300px;
		height: 250px;
		text-decoration: none;

		&__title {
			font-size: 30px;
			font-weight: bold;
			color: black;
			padding-bottom: 20px;
		}

		&__author {
			color: black;
		}

		&__tags {
			padding-bottom: 10px;
			color: black;

			i {
				padding: 5px;
				border: 1px solid black;
			}
		}

		&__image {
			margin: 20px;
			width: 200px;
			height: 120px;
		}
	}
}

.filtering {
	display: flex;
	justify-content: center;

	a {
		cursor: pointer;
		margin: 10px;
		background-color: #333;
		padding: 10px;
		color: white;
	}
}

.filter-title {
	margin: 20px 0 10px 0;
}

.filter-title2 {
	margin: 20px 0 10px 0;
}

.filter-title2+p {
	margin-bottom: 20px;
}

.sort-link {
	cursor: pointer;
	margin: 10px;
	background-color: #333;
	padding: 10px;
	color: white;
}

.filter-title3 {
	margin: 40px 0 10px 0;
}

#research {
	text-align: center;
	width: 300px;
	height: 30px;

	margin-top: 15px;
	margin-bottom: 20px;
}