{% extends "base.html.twig" %}

{% block title %}Erreur 404{% endblock %}

{% block main %}

<div>
	<p>Erreur 404 : Cette page n'existe pas.</p>
	<a href="/">Retour à l'accueil</a>
</div>

{% endblock %}