{% extends "pages/home.html.twig" %}

{% block card %}

<article class="article">
	{% for item in data %}
		<a class="article__card switch-border" href="/?page=articles&id={{ item.article_id }}">
			<div>
				<h2 class="article__card__title">{{ item.title }}</h2>
				<p class="article__card__author">Auteur : {{ item.author }}</p>
				<img class="article__card__image" src="./img/articles/{{ item.photo }}" alt="">
			</div>
		</a>
	{% endfor %}
</article>

{% endblock %}