<header class="header">
	<h1 class="header__title">F1 Blog</h1>

	<nav class="header__nav">
		<ul class="header__nav__list">
			<li class="header__nav__list__item"><a class="header__nav__list__item__link" href="/">Accueil</a></li>
			<li class="header__nav__list__item"><a class="header__nav__list__item__link" href="/?page=articles">Articles</a></li>
			<li class="header__nav__list__item"><a class="header__nav__list__item__link" href="/?page=articles&action=create">Créer un article</a></li>
			<li class="header__nav__list__item"><a class="header__nav__list__item__link" href="/?page=categories">Catégories</a></li>
			<li class="header__nav__list__item"><a class="header__nav__list__item__link header__nav__list__item__link--dark_mode">Mode sombre</a></li>
		</ul>
	</nav>
</header>