<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">

        <link rel="stylesheet" href="./css/main.min.css">

        <script src="https://kit.fontawesome.com/e965aa6722.js" crossorigin="anonymous"></script>

        <title>F1-Blog : {% block title %}{% endblock %}</title>
    </head>
    <body class="switch-bg switch-font switch-input">
        {% block header %}
            {% include 'layouts/header.l.html.twig' %}
        {% endblock %}

        <div class="wrap">
            <main class="main">
                {% block main %}{% endblock %}
            </main>
    
            <aside class="aside">
                {% block aside %}{% endblock %}
            </aside>
        </div>

        {% block footer %}
            {% include 'layouts/footer.l.html.twig' %}
        {% endblock %}

        <script src="./js/dark-mode.js"></script>
        <script src="./js/show-hide.js"></script>
        <script src="./js/category-filter.js"></script>
    </body>
</html>